# This is a basic workflow to help you get started with Actions

name: FrontEnd deploy

# Controls when the workflow will run
on:
  push:
    branches: [ "FE/main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          
      - name: Check Node v
        run: node -v

      - name: Install dependencies
        working-directory: ./front
        run: npm install

      - name: Generate build
        working-directory: ./front
        run: npm run build

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 sync ./front/dist s3://snowball-ssock --region ap-northeast-2 --delete

     # 업로드한 s3 파일을 각 CDN 캐시 무효화하여 리프레시 하기
      - name: CloudFront Invalidation
        run: |
          aws cloudfront create-invalidation --distribution-id E2BJW14KU7YTEH --paths '/*'
